= form_for @qualification do |f|
  - if @qualification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@qualification.errors.count, "error")} prohibited this qualification from being saved:"
      %ul
        - @qualification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
