%h1 Listing states

%table
  %tr
    %th Name
    %th Code
    %th
    %th
    %th
    %th

  - @states.each do |state|
    %tr
      %td= state.name
      %td= state.code
      %td= link_to 'Show', state
      %td= link_to 'Edit', edit_state_path(state)
      %td= link_to 'Districts', state_districts_path(state)
      %td= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New State', new_country_state_path(params[:country_id])
