%h1 Listing boards

%table
  %thead
    %tr
      %th Name
      %th Subject structure
      %th Disabled
      %th
      %th
      %th
      %th

  %tbody
    - @boards.each do |board|
      %tr
        %td= board.name
        %td= board.subject_structure
        %td= board.disabled
        %td= link_to 'Show', board
        %td= link_to 'Edit', edit_board_path(board)
        %td= link_to 'Streams', board_streams_path(board)
        %td= link_to 'Destroy', board, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Board', new_board_path
